.user {
  max-width: 500px;
  margin: 10% auto;

  &__info {
    text-align: center;
    h5 {
      font-style: normal;
      font-weight: 800;
      font-size: 58px;
      line-height: 52px;
      color: #0058d9;
      margin-bottom: 10px;
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 52px;
      color: #202020;
      margin-bottom: 60px;
    }
  }
  &__activity {
    text-align: center;
    button {
      padding: 10px;
      cursor: pointer;
      font-size: 20px;
      justify-content: start;
      border: none;
      outline: none;
      background: none;
      font-style: normal;
      font-weight: normal;
      line-height: 17px;
      color: #1d1d1d;
    }

    .active {
      color: #36b55a;
      padding: 10px;
      background: rgba(0, 255, 74, 0.08);
      border-radius: 6px;
    }

    .user__post {
      margin-right: 30px;
    }
  }
}

.user {
  max-width: 500px;
  margin: 10% auto;

  &__all-info {
    .profile__comment-user {
      margin: 40px 0;
      .profile__comment-title {
        margin-bottom: 15px;

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 16px;
          letter-spacing: 0.01em;
          text-transform: uppercase;
          color: #c1c1c1;
        }
      }

      .profile__comment-text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #373737;
        padding-bottom: 10px;
      }
    }
  }
}

.article__comments {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 60px 20px 0 30px;

  .article__description {
    h4 {
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 30px;
      color: #080b0e;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      color: #898c90;
    }

    .article__info {
      display: flex;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #c1c1c1;

      .article__views {
        svg {
          position: relative;
          top: 2px;
          margin-right: 5px;
        }
      }

      span {
        margin-top: 20px;

        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }

  .article__image {
    img {
      border-radius: 15px;
      margin-left: 40px;
      filter: brightness(80%);
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
}
