.row__about {
  flex: 0 1 70%;
  width: 100%;
  padding-right: 20px;
  border-right: 1px solid #f9f9f9;

  .info {
    img {
      width: 100%;
    }
    h1 {
      margin: 70px 0 20px 0;
      font-style: normal;
      font-weight: 800;
      font-size: 80px;
      line-height: 52px;
      color: #202020;
    }

    p {
      margin-bottom: 10px;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 52px;
      color: #aaaaaa;
    }
  }

  .about {
    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 52px;
      color: #202020;
      margin: 10px 0;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      color: #000000;
      margin: 0 !important;
    }
  }
}
